body,p {margin: 0;}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    position: absolute;
    top: 300px;
    left: 150px;
}

.menu {
    line-height: 72px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }



.slidein {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  
  @-moz-keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
      margin-left:0%;
      width:100%;
    }
  }
  
  @-webkit-keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
     margin-left:0%;
     width:100%;
   }
  }
  
  @keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
     margin-left:0%;
     width:100%;
   }
  }

#box1 {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #0010ed;
}

#box2 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 100px;
    top: 40%;
    background-color: #000000;
    overflow: visible;
    background-image: url('파랑.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}